docx==0.2.4
Markdown==3.8
mistralai==1.8.1
pandas==2.3.0
Pillow==11.2.1
plotly==6.1.2
pytest==8.4.0
python-dotenv==1.1.0
Requests==2.32.4
spacy==3.8.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
streamlit==1.45.1
